/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
_ide_helper_models.php
_ide_helper.php
.php_cs.cache
.phpunit.cache
.vscode
.idea
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.pullapprove.yml
/composer.lock
/package-lock.json
